<h2 id="delivery" class="c-section__heading">
  <div class="c-section__heading--title">
    <span>配送・送料について</span>
  </div>
</h2>
<div class="c-section__container">
  <h3 class="c-section__label">
  佐川急便
  </h3>
  <div class="c-section__content">
    <p>九州（970円）、四国（1,047円）、中国（970円）、関西（1,047円）、北陸・東海（1,124円）、信越・関東（1,278円）、東北（1,432円）、北海道（1,740円）、沖縄（2,633円）<br />
    離島の場合、送料プラス離島中継料が掛かります。予めご了承ください。</p>
  </div>
</div>

<div class="c-section p-layout-container">
  <h2 id="payment" class="c-section__heading">
    <div class="c-section__heading--title">
      <span>支払い方法について</span>
    </div>
  </h2>

  <div class="c-section__container">
  <h3 class="c-section__label">
    代引き
  </h3>
  <div class="c-section__content">
    代引き手数料　一律400円<br />
  <br />
    ※送付先がご注文者と異なる場合は、銀行振込かクレジットカード決済等の前払いでのお支払いをお選びください。
  </div>
  <h3 class="c-section__label">
    銀行振込
  </h3>
  <div class="c-section__content">
    ※振込手数料はご負担ください
  </div>
  <h3 class="c-section__label">
    クレジット
  </h3>
  <div class="c-section__content">
    <img class='payment_img' src='https://img.shop-pro.jp/common/card2.gif'><img class='payment_img' src='https://img.shop-pro.jp/common/card6.gif'><img class='payment_img' src='https://img.shop-pro.jp/common/card18.gif'><img class='payment_img' src='https://img.shop-pro.jp/common/card0.gif'><img class='payment_img' src='https://img.shop-pro.jp/common/card9.gif'><br />
  </div>
</div>

<div class="c-section p-layout-container">
<h2 id="return" class="c-section__heading">
<div class="c-section__heading--title">
<span>返品について</span>
</div>
</h2>
<div class="c-section__container">
<h3 class="c-section__label">
不良品
</h3>
<div class="c-section__content">
商品到着後速やかにご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。
</div>
<h3 class="c-section__label">
返品期限
</h3>
<div class="c-section__content">
商品到着後７日以内とさせていただきます。
</div>
<h3 class="c-section__label">
返品送料
</h3>
<div class="c-section__content">
お客様都合による返品につきましてはお客様のご負担とさせていただきます。不良品に該当する場合は当方で負担いたします。
</div>
</div>
</div>