<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="noindex, nofollow, noarchive" />
<meta name="robots" content="noimageindex, nomediaindex" />
<title>プライバシーポリシー</title>
<link href="../css/index.scss" rel="stylesheet" type="text/css">
<link href="../css/header.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/common.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> <!-- 必要に応じてバージョンアップ -->
<link href="../css/company.css" rel="stylesheet" type="text/css">
</head>

<body>

<%= render "shared/header" %>

<!---ページ下部固定ボタン---> 
<!---パンくずリスト--->
<section id="bread_clumb">
  <div class="wrap">
    <div class="inner">
      <div class="container">
        <ol class="bc_list">
          <li><a href="">うまけん農園</a></li>
          <li><a href="">利用規約</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!---パンくずリスト--->
    
    <!-----利用規約----->

    <section id="text_area">
      <div class="wrap">
        <div class="inner">
     <h1>特定商取引法に基づく表記</h1>
      <h2>運営者</h2>
      <p>うまけん農園</p>
      <h2>代表者</h2>
      <p>　</p>
      <h2>所在地</h2>
      <p>東京都</p>
      <h2>連絡先</h2>
      <p>@gmail.com<br>
      </p>
      <h2>価格について</h2>
      <p>商品ごとに表示</p>
      <h2>配送料について</h2>
      <p>送料込みの値段で提供しております。</p>
      <h2>お支払い方法</h2>
      <p>クレジットカード</p>
      <h2>お支払い期限</h2>
      <p>クレジットカードの支払い処理は即日行われます。<br>
      その後のお支払いはクレジットカード会社の締め日に準じます。<br>
      お届け日指定の注文：お届け日の3日前の23時59分<br>
      お届け日指定ができない注文：注文日を含めて4日後の23時59分</p>
      <h2>お届け対象地域について</h2>
      <p>日本全国発送可能です（一部地域を除く）</p>
      <h2>商品の引き渡し時期</h2>
      <p>各商品の詳細ページ、または注文履歴よりご確認ください。</p>
      <h2>商品の返品・交換について</h2>
      <p>本サイトで取り扱う商品はすべて食品となるため、返品・交換は一切承っておりません。<br>
        ただし、商品に不備がある場合、商品説明と実際の商品が異なる場合、梱包の不備により配送時に商品が破損したなどの場合は返品が可能です。お問い合わせフォームよりご連絡ください。</p>
      <h2>ご注文のキャンセルについて</h2>
      <p>キャンセルできる注文は、ステータスが「注文未確定」のものに限ります　</p>
      <h2>各種解約について</h2>
      <p>【定期便】<br>
      ＜解約について＞<br>
      定期購入の2回目の商品の受け取り以降に限り、定期購入の契約の解約が可能です。<br>
      解約のご連絡は商品の配達予定日の4日前までに、お問い合わせフォームよりご連絡ください。</p>

       </div>
    </div>
</section>
    
    <!----利用規約--->
  <%= render "shared/footer" %>


    <script>
    $(function(){
  var pos = 0;
  var header = $('#hidden');
  
  $(window).on('scroll', function(){
    if($(this).scrollTop() < pos ){
      //上スクロール時の処理
      header.removeClass('hide');
    }else{
      //下スクロール時の処理
      header.addClass('hide');
    }
    pos = $(this).scrollTop();
  });
});</script>
<script type="text/javascript" src="../slick/slickScroll.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../slick/slick.min.js"></script>
	

</body>
</html>