<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="noindex, nofollow, noarchive" />
<meta name="robots" content="noimageindex, nomediaindex" />
<title>プライバシーポリシー</title>
<link href="../css/index.scss" rel="stylesheet" type="text/css">
<link href="../css/header.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/common.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> <!-- 必要に応じてバージョンアップ -->
<link href="../css/company.css" rel="stylesheet" type="text/css">
</head>

<body>

<%= render "shared/header" %>

<!---ページ下部固定ボタン---> 
<!---パンくずリスト--->
<section id="bread_clumb">
  <div class="wrap">
    <div class="inner">
      <div class="container">
        <ol class="bc_list">
          <li><a href="">うまいもん市場</a></li>
          <li><a href="">利用規約</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!---パンくずリスト--->
    
    <!-----利用規約----->

    <section id="text_area">
      <div class="wrap">
        <div class="inner">
     <h1>特定商取引法に基づく表記</h1>
      <h2>販売者</h2>
      <p>
        商品ごとに表示<br>
        ※ 所在地・連絡先は請求後速やかに開示します
      </p>
      <h2>運営者</h2>
      <p>株式会社ビビッドガーデン</p>
      <h2>代表者</h2>
      <p>秋元　里奈</p>
      <h2>所在地</h2>
      <p>東京都港区浜松町1-7-3 第一ビル4F</p>
      <h2>連絡先</h2>
      <p>info@vivid-garden.co.jp<br>
      ※特商法に関わるお問い合わせである旨記載していただきご連絡をお願いいたします。</p>
      <h2>価格について</h2>
      <p>商品ごとに表示</p>
      <h2>配送料について</h2>
      <p>配送料については本サイト上の「配送料・その他手数料について」をご確認ください。</p>
      <h2>お支払い方法</h2>
      <p>クレジットカード  コンビニ払い</p>
      <h2>お支払い期限</h2>
      <p>クレジットカードの支払い処理は即日行われます。<br>
      その後のお支払いはクレジットカード会社の締め日に準じます。<br>
      ※コンビニ払いはお届け日によってお支払期限が異なります。<br>
      お届け日指定の注文：お届け日の3日前の23時59分<br>
      お届け日指定ができない注文：注文日を含めて4日後の23時59分</p>
      <h2>お届け対象地域について</h2>
      <p>日本全国発送可能です（一部地域を除く）</p>
      <h2>商品の引き渡し時期</h2>
      <p>各商品の詳細ページ、または注文履歴よりご確認ください。</p>
      <h2>商品の返品・交換について</h2>
      <p>本サイトで取り扱う商品はすべて食品となるため、返品・交換は一切承っておりません。<br>
        ただし、商品に不備がある場合、商品説明と実際の商品が異なる場合、梱包の不備により配送時に商品が破損したなどの場合は返品が可能です。（詳しくは「食べチョクの品質保証」(<a href="/repayment">https://www.tabechoku.com/repayment</a>)をご覧ください。）お問い合わせフォームよりご連絡ください。</p>
      <h2>ご注文のキャンセルについて</h2>
      <p>キャンセルできる注文は、ステータスが「注文未確定」のものに限ります。ただし、「注文未確定」でもコンビニ決済にて支払済みの場合はキャンセルできません。　</p>
      <h2>各種解約について</h2>
      <p>【定期便】<br>
      ＜解約について＞<br>
      定期購入の2回目の商品の受け取り以降に限り、定期購入の契約の解約が可能です。<br>
      解約のご連絡は商品の配達予定日の4日前までに、お問い合わせフォームよりご連絡ください。</p>
      <p>【食べチョクコンシェルジュ】<br>
      ＜お届けのパス・解約について＞<br>
      ・お届け日の3日前（お届け日を含まない）16時まではマイページよりお届けのパスができます。<br>
      ・解約はマイページよりしていただけます。なお、上記のパス期限を過ぎた注文がある場合は、その注文のお届け後の解約となります。<br>
      ・詳細についてはこちらをご覧ください。</p>
      <p>【フルーツセレクト】<br>
      ＜お届けのパス・解約について＞<br>
      ・毎月10日16時までマイページより当月のお届けのパスができます。<br>
      ・「1ヶ月プラン」は1回、「3ヶ月プラン」は3回、「6ヶ月プラン」は6回のお受け取りが必須となります。途中解約はできませんのでご了承ください。<br>
      （例）3ヶ月プランをご契約の場合、3回お受け取り後は解約が可能となり、4回目や5回目のお受け取り後も解約が可能です。<br>
      ・解約のお手続がない場合は、各プランで規定回数のお受け取り後、契約時の月額料金が適用されたまま1ヶ月単位での自動継続となります。<br>
      （例）3ヶ月プランをご契約で3回お受け取り済みの場合でも、解約しない限り契約が継続され、4ヶ月目以降もお支払い金額は変わりません。<br>
      ・パス、解約方法の詳細についてはこちらをご覧ください。</p>


       </div>
    </div>
</section>
    
    <!----利用規約--->
  <%= render "shared/footer" %>


    <script>
    $(function(){
  var pos = 0;
  var header = $('#hidden');
  
  $(window).on('scroll', function(){
    if($(this).scrollTop() < pos ){
      //上スクロール時の処理
      header.removeClass('hide');
    }else{
      //下スクロール時の処理
      header.addClass('hide');
    }
    pos = $(this).scrollTop();
  });
});</script>
<script type="text/javascript" src="../slick/slickScroll.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../slick/slick.min.js"></script>
	

</body>
</html>