<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @user.second_name %><%= @user.first_name %>様<br/>
      <br/>
      この度は、うまけん農園に登録いただき、ありがとうございます。<br/>
      登録完了しました。<br/>
      <br/>
      あなたのIDとパスワードは下記の通りです。<br/>
      ID:  <%= @user.email %><br/>
      パスワード: ご登録いただいたパスワード ※お忘れの際はホームページの「パスワードを忘れてしまった方へ」から再登録をお願いします。<br/>
      <br/>
      本メールは、うまけん農園にご登録いただいた方にお送りしているものです。もしも覚えのない場合には大変お手数ですが本メールをご返信いただきますようお願い申し上げます。<br/>
      https://original-app-2580.herokuapp.com/
    </p>
  </body>
</html>