<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="noindex, nofollow, noarchive" />
<meta name="robots" content="noimageindex, nomediaindex" />
<title>無題ドキュメント</title>
<link href="../css/index.scss" rel="stylesheet" type="text/css">
<link href="../css/header.css" rel="stylesheet" type="text/css">
<link href="../css/reset.css" rel="stylesheet" type="text/css">
<link href="../css/common.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> <!-- 必要に応じてバージョンアップ -->
<link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
<link href="../css/company.css" rel="stylesheet" type="text/css">
</head>

<body>

  <%= render "shared/header" %>


    <nav class="pcnone" id="hidden">
        <ul class="nav_list">
          <li><img src="../images/icon_human.png" alt="ログイン">
            <p>登録</p>
          </li>
           <li><img src="../images/icon_human.png" alt="ログイン">
            <p>ログイン</p>
          </li>
          <li><img src="../images/icon_beginner.png" alt="はじめて">
            <p>うまいもん市場とは</p>
          </li>
        </ul>
      </nav>
<section id="company_title"><div class="wrap"><div class="inner"><h4>会社概要</h4></div></div></section>
    <section id="company_info">
        <div class="wrap">
            <table>
                <tr>
                <th>商号</th><td>会社名</td></tr>
                <tr><th>創業</th><td>創業年月日</td></tr>
                <tr><th>設立</th><td>設立年月日</td></tr>
                <tr><th>資本金</th><td>金額円（●年●月●日現在）</td></tr>
                <tr><th>所在地</th><td>〒111-1111&nbsp;東京都〇〇</td></tr>
                <tr><th>代表</th><td>名前</td></tr>
                <tr><th>従業員数</th><td>人（●年●月●日現在）</td></tr>
                <tr><th>事業内容</th><td>事業内容説明</td></tr>
                <tr><th>メール</th><td>info@aljdrbg.com</td></tr>
             
                
                </table></div>
        </div>
    </section>

  <%= render "shared/footer" %>


    <script>
    $(function(){
  var pos = 0;
  var header = $('#hidden');
  
  $(window).on('scroll', function(){
    if($(this).scrollTop() < pos ){
      //上スクロール時の処理
      header.removeClass('hide');
    }else{
      //下スクロール時の処理
      header.addClass('hide');
    }
    pos = $(this).scrollTop();
  });
});</script>
<script type="text/javascript" src="../slick/slickScroll.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script type="text/javascript" src="../slick/slick.min.js"></script>
	

</body>
</html>