<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:mixi="http://mixi-platform.com/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta http-equiv="content-type" content="text/html; charset=euc-jp" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>特定商取引法に基づく表記 - 元祖辛麺屋桝元 　公式オンラインショップ</title>
<meta name="Keywords" content="特定商取引法に基づく表記,karamenmasumoto" />
<meta name="Description" content="" />
<meta name="Author" content="" />
<meta name="Copyright" content="GMOペパボ" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" href="https://img07.shop-pro.jp/PA01432/106/css/3/index.css?cmsp_timestamp=20211103233745" type="text/css" />

<link rel="alternate" type="application/rss+xml" title="rss" href="https://karamenmasumoto.shop-pro.jp/?mode=rss" />
<link rel="shortcut icon" href="https://img07.shop-pro.jp/PA01432/106/favicon.ico?cmsp_timestamp=20220401112135" />
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<meta property="og:title" content="特定商取引法に基づく表記 - 元祖辛麺屋桝元 　公式オンラインショップ" />
<meta property="og:description" content="" />
<meta property="og:url" content="https://karamenmasumoto.shop-pro.jp?mode=sk" />
<meta property="og:site_name" content="特定商取引法に基づく表記 - 元祖辛麺屋桝元 　公式オンラインショップ" />
<script>
var Colorme = {"page":"shopkeeper","shop":{"account_id":"PA01432106"},"basket":{"total_price":0,"items":[]},"customer":{"id":null}};
</script>
<script>
(function() {
function insertScriptTags() {
var scriptTagDetails = [];
var entry = document.getElementsByTagName('script')[0];

scriptTagDetails.forEach(function(tagDetail) {
var script = document.createElement('script');

script.type = 'text/javascript';
script.src = tagDetail.src;
script.async = true;

if( tagDetail.integrity ) {
script.integrity = tagDetail.integrity;
script.setAttribute('crossorigin', 'anonymous');
}

entry.parentNode.insertBefore(script, entry);
})
}

window.addEventListener('load', insertScriptTags, false);
})();
</script>
</head>
<body>
<meta name="colorme-acc-payload" content="?st=1&pt=10002&ut=0&at=PA01432106&v=20220623110357&re=&cn=b6552d4e8ffca57f6969f76ac85f31b0" width="1" height="1" alt=""" /><script>!function(){"use strict";Array.prototype.slice.call(document.getElementsByTagName("script")).filter((function(t){return t.src&&t.src.match(new RegExp("dist/acc-track.js$"))})).forEach((function(t){return document.body.removeChild(t)})),function t(c){var r=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0;if(!(r>=c.length)){var e=document.createElement("script");e.onerror=function(){return t(c,r+1)},e.src="https://"+c[r]+"/dist/acc-track.js",document.body.appendChild(e)}}(["acclog001.shop-pro.jp","acclog002.shop-pro.jp"])}();</script>
<script>
// headタグの中にviewportのmetaタグを入れる
(function () {
var viewport = document.createElement('meta');
viewport.setAttribute('name', 'viewport');
viewport.setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no');
document.getElementsByTagName('head')[0].appendChild(viewport);
}());
</script>
<div class="cart_in_modal__bg show_while_cart_in_connecting spinner" style="display: none;"></div>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<input type="checkbox" class="state-drawer-nav" id="view-drawer-nav">
<input type="checkbox" class="state-search-form" id="view-search-form">
<label for="view-search-form" aria-label="検索フォームを閉じる" class="close-search-form c-overlay">
<svg class="c-overlay__icon" role="img" aria-hidden="true"><use xlink:href="#close"></use></svg>
</label>
<label for="view-drawer-nav" aria-label="メニューを閉じる" class="close-drawer-nav c-overlay">
<svg class="c-overlay__icon" role="img" aria-hidden="true"><use xlink:href="#close"></use></svg>
</label>
<div id="pagetop" class="p-body" ontouchstart="">
<div class="p-header">
<div class="js-fix-height"></div>
<div id="js-fixed-header" class="p-fixed-header">
<div class="p-header__bar">
<ul class="p-header__user-nav">
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=myaccount">
<svg role="img" aria-hidden="true"><use xlink:href="#user"></use></svg>
アカウント
<svg role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</a>
</li>
</ul>
</div>
<div class="p-global-header">
<div class="p-layout-container">
<a href="./" class="p-global-header__logo p-global-header__logo--image js-header-logo">
<img src="https://img07.shop-pro.jp/PA01432/106/PA01432106.png?cmsp_timestamp=20220401112135" alt="元祖辛麺屋桝元 　公式オンラインショップ" />
</a>
<a href="./" class="p-global-header__home">
<svg class="p-global-header__icon" role="img" aria-hidden="true"><use xlink:href="#home"></use></svg>
ホーム
</a>
<div class="p-global-nav">
<a href="https://karamenmasumoto.shop-pro.jp/cart/proxy/basket?shop_id=PA01432106&shop_domain=karamenmasumoto.shop-pro.jp" class="p-global-header__cart">
<span class="p-global-header__cart-icon">
<svg class="p-global-header__icon" role="img" aria-hidden="true" aria-label="カート"><use xlink:href="#shopping-cart"></use></svg>
</span>
<span class="p-global-header__cart-count">
0
</span>
</a>
<label for="view-search-form" class="p-global-header__search open-search-form">
<svg class="p-global-header__icon" role="img" aria-hidden="true"><use xlink:href="#search"></use></svg>
</label>
<dl class="p-global-nav__unit js-global-nav-list">
<dt class="p-global-nav__heading">
カテゴリー
<svg class="p-global-header__icon" role="img" aria-hidden="true"><use xlink:href="#angle-down"></use></svg>
</dt>
<dd class="p-global-nav__body">
<div class="p-global-nav__body-inner">
<ul class="p-global-nav__list">
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=cate&cbid=2514069&csid=0">
バラエティセット（化粧箱入り）
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=cate&cbid=2514077&csid=0">
スタンダードセット（化粧箱入り）
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=cate&cbid=2514078&csid=0">
単品
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=cate&cbid=2738553&csid=0">
単品生麺10食セット
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=cate&cbid=2738829&csid=0">
その他
</a>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div>
</div>
<div class="p-sub-header">
<div class="p-layout-container">
<ul class="p-sub-header__content-nav">
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=sk">ご利用ガイド</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/secure/?mode=inq&shop_back_url=https%3A%2F%2Fkaramenmasumoto.shop-pro.jp%2F&shop_id=PA01432106">
お問い合わせ
</a>
</li>
</ul>
<ul class="p-sub-header__social-nav">
<li>
<a href="https://twitter.com/masumoto_9092" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="true"><use xlink:href="#twitter"></use></svg>
</a>
</li>
<li>
<a href="https://facebook.com/masumotoofficial" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="true"><use xlink:href="#facebook"></use></svg>
</a>
</li>
<li>
<a href="https://instagram.com/masumoto_official" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
</a>
</li>
<!-- <li>
<a href="">
<svg class="c-social-icon" role="img" aria-hidden="true"><use xlink:href="#pinterest-p"></use></svg>
</a>
</li> -->
</ul>
</div>
</div>
</div>
<div id="js-sp-header" class="sp-global-header">
<label for="view-drawer-nav" class="sp-global-header__unit open-drawer-nav">
<svg class="p-global-header__icon" role="img" aria-hidden="true"><use xlink:href="#bars"></use></svg>
メニュー
</label>
<label for="view-search-form" class="sp-global-header__unit open-search-form">
<svg class="p-global-header__icon" role="img" aria-hidden="true"><use xlink:href="#search"></use></svg>
検索
</label>
<a href="https://karamenmasumoto.shop-pro.jp/cart/proxy/basket?shop_id=PA01432106&shop_domain=karamenmasumoto.shop-pro.jp" class="sp-global-header__unit">
<span class="p-global-header__cart-icon">
<svg class="p-global-header__icon" role="img" aria-hidden="true"><use xlink:href="#shopping-cart"></use></svg>
</span>
カート
</a>
</div>
<div class="p-drawer-nav">
<ul class="p-drawer__list">
<li>
<label for="view-drawer-nav" aria-label="メニューを閉じる" class="c-sp-list c-sp-list--close-menu">
<span class="c-sp-list__value">
メニューを閉じる
</span>
</label>
</li>
<li>
<a href="./" class="c-sp-list">
<span class="c-sp-list__mark">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#home"></use></svg>
</span>
<span class="c-sp-list__value">
ホーム
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
</ul>
<div class="p-drawer__heading">
ユーザー
</div>
<ul class="p-drawer__list">
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=myaccount" class="c-sp-list">
<span class="c-sp-list__value">
アカウント
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
</ul>



<ul class="p-drawer__list">
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=sk" class="c-sp-list">
<span class="c-sp-list__value">
ご利用ガイド
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/secure/?mode=inq&shop_back_url=https%3A%2F%2Fkaramenmasumoto.shop-pro.jp%2F&shop_id=PA01432106" class="c-sp-list">
<span class="c-sp-list__value">
お問い合わせ
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
</ul>
</div>




<div class="c-section p-layout-container">
<h2 id="info" class="c-section__heading">
<div class="c-section__heading--title">
<span>特定商取引法に基づく表記</span>
</div>
</h2>

<div class="c-section__container">
<h3 class="c-section__label">
販売業者
</h3>
<div class="c-section__content">
株式会社ウマ安
</div>
<h3 class="c-section__label">
CEO
</h3>
<div class="c-section__content">
髙裕之
</div>
<h3 class="c-section__label">
郵便番号
</h3>
<div class="c-section__content">
8820803
</div>
<h3 class="c-section__label">
住所
</h3>
<div class="c-section__content">
宮崎県延岡市大貫町4丁目1317番地1
</div>
<h3 class="c-section__label">
商品代金以外の料金の説明
</h3>
<div class="c-section__content">
販売価格とは別に配送料、代引き手数料、振込手数料がかかる場合もございます。
</div>
<h3 class="c-section__label">
引渡し時期
</h3>
<div class="c-section__content">
ご注文を受けてから7日以内に発送いたします。
</div>
<h3 class="c-section__label">
お支払い方法
</h3>
<div class="c-section__content">
クレジットカード
</div>
<h3 class="c-section__label">
電話番号
</h3>
<div class="c-section__content">
0982314841
</div>
<h3 class="c-section__label">
お問い合わせメールアドレス
</h3>
<div class="c-section__content">
food-jyutyu@karamenya-masumoto.com
</div>
</div>
</div>
<div class="p-layout-container">
<h2 class="c-section__heading">

</h2>
<ul class="c-thumbnail-product-list">
<li class="c-thumbnail-product-list__item">


</a>

</li>
<li class="c-thumbnail-product-list__item">


</li>
</ul>
</div>
</div>



<div class="p-footer">
<div class="p-shop-info">
<div class="p-layout-container">
<div class="p-shop-info__calendar p-shop-info__calendar--half">
<div class="p-calendar__table">
<table class="tbl_calendar">


</table>
</div>

</div>
</div>
</div>
<div class="p-global-footer">
<div class="p-layout-container">
<div class="p-global-footer__group">
<div class="p-global-footer__unit">
<ul class="p-footer-nav">
<li>
<a href="./" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
ホーム
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
<li>
<a href="#payment" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
支払い方法について
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=sk" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
配送方法について
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
<li>
<a href="#return" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
返品について
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
</ul>
</div>
<div class="p-global-footer__unit">
<ul class="p-footer-nav">
<li>
<a href="https://karamenmasumoto.shop-pro.jp/?mode=myaccount" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
アカウント
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/cart/proxy/basket?shop_id=PA01432106&shop_domain=karamenmasumoto.shop-pro.jp" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
カートを見る
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
<li>
<a href="https://karamenmasumoto.shop-pro.jp/secure/?mode=inq&shop_back_url=https%3A%2F%2Fkaramenmasumoto.shop-pro.jp%2F&shop_id=PA01432106" class="c-sp-list">
<span class="p-footer-nav__text c-sp-list__value">
お問い合わせ
</span>
<span class="c-sp-list__nav-icon">
<svg class="c-sp-list__icon" role="img" aria-hidden="true"><use xlink:href="#angle-right"></use></svg>
</span>
</a>
</li>
</ul>
</div>
</div>
<div class="p-global-footer__group p-global-footer__group--secondary">
<div class="p-global-footer__unit--half">
<div class="p-global-footer__heading u-visible--tablet">ソーシャル</div>
<ul class="p-global-footer__social-nav">
<li>
<a href="https://twitter.com/masumoto_9092" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="false"><use xlink:href="#twitter" aria-label="twitter"></use></svg>
</a>
</li>
<li>
<a href="https://facebook.com/masumotoofficial" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="false"><use xlink:href="#facebook" aria-label="facebook"></use></svg>
</a>
</li>
<li>
<a href="https://instagram.com/masumoto_official" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="false"><use xlink:href="#instagram" aria-label="instagram"></use></svg>
</a>
</li>
<!-- <li>
<a href="" target="_blank">
<svg class="c-social-icon" role="img" aria-hidden="false"><use xlink:href="#pinterest-p" aria-label="pinterest"></use></svg>
</a>
</li> -->
</ul>
</div>

</dd>
</dl>
</div>
</div>
</div>
<div class="p-footer-bottom">

<div class="p-footer-bottom__credit">
</div>
<div class="p-footer-bottom__pagetop">
<a href="#pagetop">
<svg role="img" aria-hidden="true"><use xlink:href="#angle-up"></use></svg>
</a>
</div>
</div>
</div>
<div class="p-search-form">
<form action="https://karamenmasumoto.shop-pro.jp/" method="GET" class="p-search-form__body">
<input type="hidden" name="mode" value="srh" />
<div class="p-search-form__keyword-cell">
<input type="text" name="keyword" placeholder="何かお探しですか？" class="p-search-form__keyword" />
</div>
<div class="p-search-form__button-cell">
<button type="submit" class="p-search-form__button">
<svg class="p-search-form__icon" role="img" aria-hidden="true" aria-label="検索"><use xlink:href="#search"></use></svg>
</button>
</div>
</form>
</div>
</div>
<script src="//img.shop-pro.jp/tmpl_js/83/jquery.lazyload.min.js"></script>
<script src="//img.shop-pro.jp/tmpl_js/83/headroom.min.js"></script>
<script src="//img.shop-pro.jp/tmpl_js/83/jQuery.headroom.js"></script>
<script>
// breakpoint
var breakpointPhone = 600 - 1,
breakpointTablet = 600,
breakpointPC = 960;
// headroom.jsの処理
function headroomPC() {
var fixedHeaderHeight = $('#js-fixed-header').outerHeight();
var startPos = fixedHeaderHeight + 100;
$('.js-fix-height').css('padding-top', fixedHeaderHeight);
$('#js-fixed-header').headroom({
tolerance: {
down : 2,
up : 8
},
offset: startPos,
classes: {
pinned: 'is-fixed',
unpinned: 'is-hidden',
top: 'is-top',
notTop: 'isnot-top'
},
});
}
(function () {
if ($('.js-header-logo').size() === 0) {
headroomPC();
} else {
var $logoImageCopy = $('<img>');
$logoImageCopy.on('load', function() {
headroomPC();
});
$logoImageCopy.attr('src', $('.js-header-logo img').attr('src'));
}
$(window).on('resize', function () {
$('#js-fixed-header').headroom('destroy');
headroomPC();
});
}());
(function () {
var spHeaderPos = $('#notTop').offsetTop;
$('#js-sp-header').headroom({
tolerance: {
down : 2,
up : 8
},
offset: spHeaderPos,
classes: {
unpinned : 'is-hidden',
notTop: 'is-fixed'
}
});
}());
// lazyload.jsを実行
(function () {
$('.js-lazyload').lazyload();
}());
// ページ内リンク移動した際のスクロール処理
(function () {
$('a[href^=#]').on('click', function() {
var href = $(this).attr('href');
var target = $(href == '#' || href == '' ? 'html' : href);
var targetPos = target.offset().top;
var startPos = $(window).scrollTop();
var endPos = targetPos;
if (startPos > targetPos) {
if ($(window).width() > breakpointPhone) {
endPos -= 110;
} else {
endPos -= 60;
}
}
$('body,html').animate({scrollTop:endPos}, 400, 'swing');
return false;
});
}());
// ヘッダーグローバル・ドロワーメニューの表示・非表示の処理
(function () {
var $globalNavElem = $('.js-global-nav-list');
// ドロワーメニュー
$('.js-drawer-pulldown').on('click', function () {
$(this).next().toggleClass('is-opened');
});
// ヘッダーメニュー
$globalNavElem.on('mouseenter', function () {
$(this).addClass('is-opened');
});
$globalNavElem.on('mouseleave', function () {
$(this).removeClass('is-opened');
});
}());
// ドロワーメニューの状態変更（タブレットサイズ以上では非表示にする）
(function () {
var $stateCheckbox = $('#view-drawer-nav');
$(window).on('resize', function () {
if ($(window).width() > breakpointPhone) {
$stateCheckbox.prop('checked', false);
}
});
}());
// 商品一覧のソートを切り替える
(function () {
$('.js-sort-switch').on('change', function () {
location.href = $(this).val();
});
}());
// もっと見るをクリックしたら、そのリスト内全ての商品を表示する
(function () {
$('.js-display-button').on('click', function () {
var $clickedButtonUnit = $(this).parent();
var $productList = $clickedButtonUnit.prev().children('.is-hidden');
$productList.removeClass('is-hidden');
$clickedButtonUnit.remove();
});
}());
</script>
<svg xmlns="http://www.w3.org/2000/svg" style="display:none"><symbol id="angle-double-left" viewBox="0 0 1792 1792"><path d="M1011 1376q0 13-10 23l-50 50q-10 10-23 10t-23-10L439 983q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23L608 960l393 393q10 10 10 23zm384 0q0 13-10 23l-50 50q-10 10-23 10t-23-10L823 983q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23L992 960l393 393q10 10 10 23z"/></symbol><symbol id="angle-double-right" viewBox="0 0 1792 1792"><path d="M979 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23zm384 0q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></symbol><symbol id="angle-down" viewBox="0 0 1792 1792"><path d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"/></symbol><symbol id="angle-left" viewBox="0 0 1792 1792"><path d="M1203 544q0 13-10 23L800 960l393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10L631 983q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></symbol><symbol id="angle-right" viewBox="0 0 1792 1792"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></symbol><symbol id="angle-up" viewBox="0 0 1792 1792"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10L896 864l-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"/></symbol><symbol id="bars" viewBox="0 0 1792 1792"><path d="M1664 1344v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V832q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H192q-26 0-45-19t-19-45V320q0-26 19-45t45-19h1408q26 0 45 19t19 45z"/></symbol><symbol id="close" viewBox="0 0 1792 1792"><path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/></symbol><symbol id="envelope-o" viewBox="0 0 1792 1792"><path d="M1664 1504V736q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5T897 1280h-2q-48 0-102.5-24.5T706 1207t-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5H160q-13 0-22.5 9.5T128 416q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5T852 1143t43 9h2q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5T1664 453zm128-37v1088q0 66-47 113t-113 47H160q-66 0-113-47T0 1504V416q0-66 47-113t113-47h1472q66 0 113 47t47 113z"/></symbol><symbol id="facebook" viewBox="0 0 1792 1792"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759H734V905H479V609h255V391q0-186 104-288.5T1115 0q147 0 228 12z"/></symbol><symbol id="google-plus" viewBox="0 0 1792 1792"><path d="M1181 913q0 208-87 370.5t-248 254-369 91.5q-149 0-285-58t-234-156-156-234-58-285 58-285 156-234 234-156 285-58q286 0 491 192L769 546Q652 433 477 433q-123 0-227.5 62T84 663.5 23 896t61 232.5T249.5 1297t227.5 62q83 0 152.5-23t114.5-57.5 78.5-78.5 49-83 21.5-74H477V791h692q12 63 12 122zm867-122v210h-209v209h-210v-209h-209V791h209V582h210v209h209z"/></symbol><symbol id="heart" viewBox="0 0 1792 1792"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"/></symbol><symbol id="home" viewBox="0 0 1792 1792"><path d="M1472 992v480q0 26-19 45t-45 19h-384v-384H768v384H384q-26 0-45-19t-19-45V992q0-1 .5-3t.5-3l575-474 575 474q1 2 1 6zm223-69l-62 74q-8 9-21 11h-3q-13 0-21-7L896 424l-692 577q-12 8-24 7-13-2-21-11l-62-74q-8-10-7-23.5t11-21.5l719-599q32-26 76-26t76 26l244 204V288q0-14 9-23t23-9h192q14 0 23 9t9 23v408l219 182q10 8 11 21.5t-7 23.5z"/></symbol><symbol id="info-circle" viewBox="0 0 1792 1792"><path d="M1152 1376v-160q0-14-9-23t-23-9h-96V672q0-14-9-23t-23-9H672q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zm-128-896V320q0-14-9-23t-23-9H800q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5T1281.5 1561 896 1664t-385.5-103T231 1281.5 128 896t103-385.5T510.5 231 896 128t385.5 103T1561 510.5 1664 896z"/></symbol><symbol id="instagram" viewBox="0 0 1792 1792"><path d="M1490 1426V778h-135q20 63 20 131 0 126-64 232.5T1137 1310t-240 62q-197 0-337-135.5T420 909q0-68 20-131H299v648q0 26 17.5 43.5T360 1487h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5T897 594q-127 0-217.5 87.5T589 893t90.5 211.5T897 1192q128 0 218.5-87.5T1206 893zm284-360V368q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58H325q-81 0-139-58t-58-139V325q0-81 58-139t139-58h1142q81 0 139 58t58 139z"/></symbol><symbol id="pencil" viewBox="0 0 1792 1792"><path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832H128v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"/></symbol><symbol id="pinterest-p" viewBox="0 0 1792 1792"><path d="M256 597q0-108 37.5-203.5T397 227t152-123 185-78T936 0q158 0 294 66.5T1451 260t85 287q0 96-19 188t-60 177-100 149.5-145 103-189 38.5q-68 0-135-32t-96-88q-10 39-28 112.5t-23.5 95-20.5 71-26 71-32 62.5-46 77.5-62 86.5l-14 5-9-10q-15-157-15-188 0-92 21.5-206.5T604 972t52-203q-32-65-32-169 0-83 52-156t132-73q61 0 95 40.5T937 514q0 66-44 191t-44 187q0 63 45 104.5t109 41.5q55 0 102-25t78.5-68 56-95 38-110.5 20-111 6.5-99.5q0-173-109.5-269.5T909 163q-200 0-334 129.5T441 621q0 44 12.5 85t27 65 27 45.5T520 847q0 28-15 73t-37 45q-2 0-17-3-51-15-90.5-56t-61-94.5-32.5-108T256 597z"/></symbol><symbol id="search" viewBox="0 0 1792 1792"><path d="M1216 832q0-185-131.5-316.5T768 384 451.5 515.5 320 832t131.5 316.5T768 1280t316.5-131.5T1216 832zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225T64 832t55.5-273.5 150-225 225-150T768 128t273.5 55.5 225 150 150 225T1472 832q0 220-124 399l343 343q37 37 37 90z"/></symbol><symbol id="shopping-cart" viewBox="0 0 1792 1792"><path d="M704 1536q0 52-38 90t-90 38-90-38-38-90 38-90 90-38 90 38 38 90zm896 0q0 52-38 90t-90 38-90-38-38-90 38-90 90-38 90 38 38 90zm128-1088v512q0 24-16.5 42.5T1671 1024L627 1146q13 60 13 70 0 16-24 64h920q26 0 45 19t19 45-19 45-45 19H512q-26 0-45-19t-19-45q0-11 8-31.5t16-36 21.5-40T509 1207L332 384H128q-26 0-45-19t-19-45 19-45 45-19h256q16 0 28.5 6.5T432 278t13 24.5 8 26 5.5 29.5 4.5 26h1201q26 0 45 19t19 45z"/></symbol><symbol id="sign-in" viewBox="0 0 1792 1792"><path d="M1312 896q0 26-19 45l-544 544q-19 19-45 19t-45-19-19-45v-288H192q-26 0-45-19t-19-45V704q0-26 19-45t45-19h448V352q0-26 19-45t45-19 45 19l544 544q19 19 19 45zm352-352v704q0 119-84.5 203.5T1376 1536h-320q-13 0-22.5-9.5t-9.5-22.5q0-4-1-20t-.5-26.5 3-23.5 10-19.5 20.5-6.5h320q66 0 113-47t47-113V544q0-66-47-113t-113-47h-312l-11.5-1-11.5-3-8-5.5-7-9-2-13.5q0-4-1-20t-.5-26.5 3-23.5 10-19.5 20.5-6.5h320q119 0 203.5 84.5T1664 544z"/></symbol><symbol id="sign-out" viewBox="0 0 1792 1792"><path d="M704 1440q0 4 1 20t.5 26.5-3 23.5-10 19.5-20.5 6.5H352q-119 0-203.5-84.5T64 1248V544q0-119 84.5-203.5T352 256h320q13 0 22.5 9.5T704 288q0 4 1 20t.5 26.5-3 23.5-10 19.5T672 384H352q-66 0-113 47t-47 113v704q0 66 47 113t113 47h312l11.5 1 11.5 3 8 5.5 7 9 2 13.5zm928-544q0 26-19 45l-544 544q-19 19-45 19t-45-19-19-45v-288H512q-26 0-45-19t-19-45V704q0-26 19-45t45-19h448V352q0-26 19-45t45-19 45 19l544 544q19 19 19 45z"/></symbol><symbol id="star" viewBox="0 0 1792 1792"><path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5T1385 1619q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5T365 1569q0-6 2-20l86-500L89 695q-25-27-25-48 0-37 56-46l502-73L847 73q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"/></symbol><symbol id="twitter" viewBox="0 0 1792 1792"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5T1369.5 1125 1185 1335.5t-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5T285 1033q33 5 61 5 43 0 85-11-112-23-185.5-111.5T172 710v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5T884 653q-8-38-8-74 0-134 94.5-228.5T1199 256q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/></symbol><symbol id="user-plus" viewBox="0 0 1792 1792"><path d="M576 896c-106 0-196.5-37.5-271.5-112.5S192 618 192 512s37.5-196.5 112.5-271.5S470 128 576 128s196.5 37.5 271.5 112.5S960 406 960 512s-37.5 196.5-112.5 271.5S682 896 576 896zM1536 1024h352c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5h-352v352c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5h-192c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5v-352H928c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5v-192c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h352V672c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h192c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5v352z"/><path d="M800 1248c0 34.7 12.7 64.7 38 90s55.3 38 90 38h256v238c-45.3 33.3-102.3 50-171 50H139c-80.7 0-145.3-23-194-69s-73-109.3-73-190c0-35.3 1.2-69.8 3.5-103.5s7-70 14-109 15.8-75.2 26.5-108.5 25-65.8 43-97.5 38.7-58.7 62-81 51.8-40.2 85.5-53.5 70.8-20 111.5-20c12.7 0 25.7 5.7 39 17 52.7 40.7 104.2 71.2 154.5 91.5S516.7 971 576 971s114.2-10.2 164.5-30.5S842.3 889.7 895
849c13.3-11.3 26.3-17 39-17 88 0 160.3 32 217 96H928c-34.7 0-64.7 12.7-90 38s-38 55.3-38 90v192z"/></symbol><symbol id="user" viewBox="0 0 1792 1792"><path d="M1600 1405c0 80-24.3 143.2-73 189.5s-113.3 69.5-194 69.5H459c-80.7 0-145.3-23.2-194-69.5S192 1485 192 1405c0-35.3 1.2-69.8 3.5-103.5s7-70 14-109 15.8-75.2 26.5-108.5 25-65.8 43-97.5 38.7-58.7 62-81 51.8-40.2 85.5-53.5 70.8-20 111.5-20c6 0 20 7.2 42 21.5s46.8 30.3 74.5 48 63.7 33.7 108 48S851.3 971 896 971s89.2-7.2 133.5-21.5 80.3-30.3 108-48 52.5-33.7 74.5-48 36-21.5 42-21.5c40.7 0 77.8 6.7 111.5 20s62.2 31.2 85.5 53.5 44 49.3 62 81 32.3 64.2 43 97.5 19.5 69.5 26.5 108.5 11.7 75.3 14 109 3.5 68.2 3.5 103.5z"/><path d="M1280 512c0 106-37.5 196.5-112.5 271.5S1002 896 896 896s-196.5-37.5-271.5-112.5S512 618 512 512s37.5-196.5 112.5-271.5S790 128 896 128s196.5 37.5 271.5 112.5S1280 406 1280 512z"/></symbol><symbol id="youtube" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></symbol></svg> <script type="text/javascript" src="https://karamenmasumoto.shop-pro.jp/js/cart.js" ></script>
<script type="text/javascript" src="https://karamenmasumoto.shop-pro.jp/js/async_cart_in.js" ></script>
<script type="text/javascript" src="https://karamenmasumoto.shop-pro.jp/js/product_stock.js" ></script>
<script type="text/javascript" src="https://karamenmasumoto.shop-pro.jp/js/js.cookie.js" ></script>
<script type="text/javascript" src="https://karamenmasumoto.shop-pro.jp/js/favorite_button.js" ></script>
</body></html>