<section id="thanks">
  <div class="wrap">
    <div class="inner">
        <h1>ご注文<br class="pcnone">ありがとうございます</h1>
      <div class="thanksImg"><img src="icon_food2.png" alt="アイコン"> </div>
     <p>ご登録のメールアドレスに確認のメールをお送りいたしました。</p>
        <p>生産者よりご注文の商品が届くまで今しばらくお待ちください。</p>
        <p>その他、何かご不明な点がございましたらお問い合わせください。</p>
        <ul class="thanks_link">
        <li><%= link_to "ホームに戻る", root_path %></li>
        <li><%= link_to "問い合わせる", news_index_path %></li></ul>
 </div>
  </div>
    
</section>